<div>
	<form action="/results" method="post">
		<fieldset>
			<legend><h2>Choose The Year Of The Release Date</h2></legend>
			<input type="radio" id="90's" name="year" value="90's" checked />
			<label for="90's">90's</label>
			<input type="radio" id="00's" name="year" value="00's" />
			<label for="00's">00's</label>
			<input type="radio" id="10's" name="year" value="10's" />
			<label for="10's">10's</label>
			<input type="radio" id="20's" name="year" value="20's" />
			<label for="20's">20's</label>
		</fieldset>
		<fieldset>
			<legend><h2>What Kind Of Genre Do You Like?</h2></legend>
			<input type="radio" id="Jazz" name="genre" value="Jazz" checked />
			<label for="Jazz">Jazz</label>
			<input type="radio" id="Trap" name="genre" value="Trap" />
			<label for="Trap">Trap</label>
			<input type="radio" id="Alternative" name="genre" value="Alternative" />
			<label for="Alternative">Alternative</label>
		</fieldset>
		<input type="submit" value='Results'></input>
	</form>
</div>
