<div class="header">
    <div>
        <img src="#" alt="">
        <p>username</p>
    </div>
    <h2><%- title %></h2>
    <form action="/logout" method="post">
        <input type="submit" value="logout">
    </form>
</div>