<div>
	<ul class="navigation">
		<li>
			<a id="linkOne" href="/">
				<img src="../images/home.png" alt="" />
				Home
			</a>
		</li>
		<li>
			<a id="linkThree" href="/all">
				<img src="../images/search.png" alt="" />
				All
			</a>
		</li>
		<li>
			<a id="linkTwo" href="/add">
				<img src="../images/add.png" alt="" />
				Add
			</a>
		</li>
		<li>
			<a id="linkFour" href="/favorites"><img src="../images/love.png" alt="" /> Favorites</a>
		</li>
	</ul>
</div>

