<main class="unauthorized">
    <img src="/images/error401.svg" alt="">
    <h1>Unhauthorized</h1>
    <p>please login first to see this page</p>
    <a href="/">login</a>
</main>

<!-- maak logout kleiner in de header recht van titel -->
<!-- maak error melding wanneer combinatie fout is -->