<div>

	<button id="https://open.spotify.com/track/3ONIRhoRyimzjiW2W8PjtB" onclick="changeSong(this.id)">testest</button>
	
	<h1 id="titleSong"></h1>
	<img id="titleImg" src="" alt="">
	<br>
	<div id="embed-frame"></div>
	<%- include('partials/navigation') %>
</div>

<script src="/js/spotify.js"></script>
