<form action="/home" method="POST" class="formLogin">
	<label for="email">email</label>
	<input type="text" name="email" id="email" />
	<label for="password">password</label>
	<input type="password" name="password" id="password" />
	<input type="submit" />
</form>
