<!-- <p class="errorLogin">combinatie email en wachtwoord onjuist</p> -->
<p class=<%=errorClass %>>
    <%= errorMessage %>
</p>
<form action="/home" method="post" class="formLogin">
    <label for="email">email</label>
    <input type="text" name="email" id="email" required>
    <label for="password">password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="login">
</form>