<div>
	<%- include('partials/header', {title: 'Home' , image: userinfo[0].Profilepic.data, username:
	userinfo[0].Username }) %>
	<h3>Home</h3>
	<%-include('partials/form') %> <%- include('partials/navigation') %>
</div>
