<div>
	<%- include('partials/header', {title: 'Home' , image: user }) %><%- include('partials/form') %> <%-
				include('partials/navigation') %>
</div>

<!-- img: 'img path', user: 'naam van user',  -->