<img src="../images/succes.png" alt="Succes" id="succesimg">

<h2>Registratie succesvol!<br>
    U word automatisch doorgestuurd naar het inloggen  </h2>

<h3>Word u niet doorgestuurd?<br>
    <a href="/"><span class="logintext">Klik hier om verder te gaan</span></h3>
<script>

</script>

