<p class=<%=errorClass %>>
    <%= errorMessage %>
</p>
<form method='POST' action="/register" class="formLogin" enctype="multipart/form-data" key="Profilepic">
    <label for="username"> Username:</label><br>
    <input type="text" id="username" name="username"  required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <label for="email">E-mail:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <div class="formLogin" >
        <label for="email">Upload your profile picture: </label><br>
        <input id="Profilepic" type="File" name="Profilepic"/>
        <label for="Profilepic"><img src="../images/plus.png" alt="add" /></label>
    </div>

    <input type="submit" value="Register">
</form>
