<img src="../images/succes.png" alt="Succes" id="succesimg">

<h2>Registration success!<br>
    You will be redirected to the login page  </h2>

<h3>No redirect?<br>
    <a href="/"><span class="logintext">Click here to login</span></h3>
<script>

</script>

