<img src="../images/succes.png" alt="Succes" id="succesimg">

<h2>Regostration Succes!<br>
   You will be redirected to the log in page </h2>

<h3>Word u niet doorgestuurd?<br>
    <a href="/"><span class="logintext">Click to log in</span></h3>


