<div>
	<%- include('partials/header', {title: 'Edit Email'}) %>
	<div class="addForm">
		<form action="/update" method="POST" enctype="multipart/form-data" key="File">
			<div class="formText">
				<label for="email"><h2>Current Email:</h2></label>
				<input id="email" type="text" name="current" required />
			</div>
			<div class="formText">
				<label for="newEmail"><h2>New Email:</h2></label>
				<input id="newEmail" type="text" name="new" required />
			</div>
            <button type="submit"> Update Email </button>
        </form>
	</div>
	<%- include('partials/navigation') %>
</div>
