body {
	background-color: rgba(247, 247, 247, 0.75);
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: black;
	text-decoration: none;
}

body div {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

section h1 {
	color: white;
}

body div div {
	position: relative;
	width: 100%;
	display: flex;
	justify-self: center;
	align-items: center;
}

section {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
}

section a,
.noData a,
.goBack a {
	text-align: center;
	text-decoration: none;
	width: 55%;
	border: solid 0.1em rgba(0, 0, 0, 0.1);
	color: black;
	box-shadow: 0.15em 0.15em rgba(0, 0, 0, 0.1);
	font-size: 1em;
	background-color: white;
	padding: 1em 0;
	border-radius: 5em;
}

.navigation {
	background-color: white;
	border: 0.25 solid transparent;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	position: fixed;
	bottom: 0;
	margin: 0;
	width: 100%;
	border-top: 0.1em solid rgba(0, 0, 0, 0.1);
}

.navigation li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation li a {
	padding: 1em 0;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 0.75em;
}

.navigation li img {
	width: 25%;
	padding-bottom: 0.25em;
}

.albumCard {
	width: 85%;
	background-color: white;
	margin: 0.5em 0;
	border: 0.1em solid rgba(242, 242, 242, 0.8);
	border-radius: 1.5em;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.75);
}

.albumCard h2,
.albumCard p {
	text-align: left;
}

.albumCard > div p:first-of-type {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: 700;
	color: black;
	opacity: 100;
	margin-left: 1.5em;
}

.albumCard > p {
	font-weight: thin;
	opacity: 50%;
	margin: 0 0 0 1.5em;
}

.albumImage {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	height: 10em;
	width: 100%;
	background-position: center;
	background-size: inherit;
}

.albumCard div:nth-of-type(2),
.detailPage > div {
	display: flex;
	height: auto;
	margin-top: 0.25em;
	justify-content: space-between;
	flex-direction: row;
}

.detailPage > div {
	margin-top: 0.5em;
}

.detailPage > div h1 {
	max-width: 70%;
	text-align: left;
	margin: 0;
	margin-left: 0.75em;
	font-size: 1.5em;
}

.albumCard > div:nth-of-type(2) p:nth-of-type(2),
.detailPage > div > p:last-of-type {
	opacity: 50%;
	text-align: right;
	margin: 0;
	font-size: 0.65em;
	margin-right: 1em;
}

.detailPage > div > p:last-of-type {
	font-size: 1em;
}

input[type='radio'],
.deleteForm input[type='submit'] {
	display: none;
}

input[type='file'] {
	margin-bottom: 1em;
	font-size: 0.75em;
	bottom: 10%;
}

input[type='file'] + label {
	border: 0.15em solid black;
	padding: 4em 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75%;
	border-radius: 1.5em;

	background-color: white;
}

input[type='file'] + label img {
	width: 2em;
}

fieldset {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	border: none;
	text-align: center;
	width: 100%;
	padding: 0;
}

fieldset:last-of-type {
	flex-direction: column;
}

form {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

input[type='radio'] + label {
	border: 0.15em solid black;
	margin: 0.5em 0.75em;
	width: 75%;
	background-color: white;
	opacity: 25%;
	padding: 0.5em;
	border-radius: 5em;
}

fieldset:first-of-type input[type='radio'] + label {
	margin: 0.5em 0.75em;
	width: 27.5%;
}

input[type='radio']:checked + label {
	border: 0.15em solid black;
	background-color: rgba(0, 0, 0, 0.05);
	color: black;
	opacity: 100%;
}

legend {
	margin-bottom: 0.5em;
	width: 75%;
}

input[type='submit'] {
	border: solid 0.1em rgba(0, 0, 0, 0.1);
	color: black;
	box-shadow: 0.15em 0.15em rgba(0, 0, 0, 0.1);
	border-radius: 5em;
	font-size: 1.15em;
	padding: 0.75em 5em;
	background-color: white;
	margin-top: 2em;
}

.noData {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 65%;
	text-align: center;
}

.goBack {
	padding: 1em 0 5em 0;
}

.detailPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100vw;
	position: relative;
}

.detailPage img {
	/* object-fit: unset; */
	width: 100%;
}

.detailPage > p:first-of-type {
	display: block;
	text-align: left;
	width: 90%;
	margin: 0;
	margin-top: 0.5em;
}

.detailPage > p:last-of-type {
	padding-bottom: 1em;
	width: 90%;
	font-size: 0.9em;
	opacity: 50%;
}

.detailPage > a {
	border: none;
	background-color: rgba(250, 250, 250, 1);
	color: white;
	border-bottom-right-radius: 5em;
	display: flex;
	justify-content: center;
	padding: 1em;
	padding-bottom: 5em;
}

.detailPage > a img {
	width: 1.25em;
	transform: translate(-0.25em, -0.25em);
}

.active {
	opacity: 100%;
}

.inActive {
	opacity: 25%;
}

legend h2 {
	margin-bottom: 0;
	text-align: center;
}

.favoriteForm input {
	display: none;
}

.heart > form > input {
	display: none;
}

.heart > form {
	display: flex;
	align-items: flex-end;
	margin-right: 2.1em;
	transform: translatey(-1em);
	height: inherit;
}

i {
	font-size: 2em !important;
	color: rgba(215, 1, 29, 1);
	margin: 0;
}

.preference,
.all {
	padding-bottom: 5em;
}

.formText {
	display: flex;
	margin: 1em 0;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}

.formText > input[type='text'],
.formText > textarea {
	border: none;
	font-size: 1.5em;
	width: 75%;
	border-bottom: 0.075em solid black;
	background-color: rgba(247, 247, 247, 0.75);
	outline: none;
	text-align: center;
	margin: 0;
}

.formText > textarea {
	border: 0.1em solid black;
	border-radius: 0.5em;
	height: 7.5em;
	margin-top: 0.25em;
	text-align: left;
}

.formText > Label > h2 {
	margin: 0.5em 0;
}

.addForm {
	padding-bottom: 5em;
}

.search {
	display: flex;
	flex-direction: row;
	margin: 0 0.25em 0.5em 0;
}

.search input[type='text'] {
	padding: 0.6em 0.5em;
	margin-left: 1em;
	width: 65%;
	border: 0.1em solid black;
	border-radius: 0.5em;
}

.search button {
	border: none;
	background-color: transparent;
}

.search img {
	width: 1.75em;
	margin-left: -0.5em;
}

.clearSearch {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-150%);
}

.clearSearch img {
	width: 1.15em;
}

.all input[type='submit'] {
	display: none;
}

.deleteModal {
	text-align: center;
	height: 100vh;
}

.deleteModal h2 {
	width: 80%;
	margin: 2.5em 0 0 0;
}

.deleteModal form {
	height: 65%;
}

.deleteModal form > div {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
}

.deleteModal form a,
.deleteModal form label {
	padding: 0.5em 1.25em;
	border: solid 0.1em rgba(0, 0, 0, 0.1);
	color: black;
	box-shadow: 0.15em 0.15em rgba(0, 0, 0, 0.1);
	border-radius: 5em;
	font-size: 1.35em;
	background-color: white;
	margin: 1em 0;
}

.deleteModal .albumCard > p {
	margin: 0 0 1em 1.5em;
}

.all .albumCard {
	margin-bottom: -2em;
}

.delete {
	width: 2.25em;
	transform: translate(250%, -55%);
}

div > h2 {
	width: 100%;
	text-align: center;
	padding: 1em 0 0 0;
	margin-top: 0;
}

.lazy-background.fallback {
	background-image: url('../images/fallback.png') !important;
}

/* Supports */

@supports (background-size: cover) {
	.albumImage {
		background-size: cover;
	}
}

@supports (position: absolute) {
	.detailPage > a {
		position: absolute;
		left: 0;
		top: 0;
		padding-bottom: 1em;
	}

	.detailPage > p:last-of-type {
		padding-bottom: 5em;
	}

	input[type='file'] {
		position: absolute;
		margin-bottom: 0;
	}
}
